/*
.axis--x path {
    display: none;
}
*/

.title {
    color: rgb(32, 95, 139)
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.grid--x,
.grid--y,
line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

ul {
    list-style-type: none;
    padding: 3px;
}

label {
    margin: 5px;
}